*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
}

header{
    background-color:orange;
    display: grid;
    color: white;
    padding: 0 25px;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
    grid-template-columns: auto auto;
    align-items: center;
    height: 15vh;
}


main{
    display: grid;
    justify-content: center;
    height: 70vh;
    align-items: center
}

video{
    height: 60vh;
    width: 60vw;
}

footer{
    background-color:orange;
    display: grid;
    color: white;
    padding: 0 400px;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: space-between;
    grid-template-columns: auto auto;
    align-items: center;
    height: 15vh;
}